<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../js/vue.js"></script>
	</head>
	<body>
		<p>原始li标签：</p>
		<li v-for="language in languages">{{msg}}</li>
		<p>我自定义的li标签：</p>
		<my-li v-for="language in languages" v-bind:myLanguage="language"></my-li>
		<my-component1></my-component1>
		
		
		
		<script>
			// 创建根实例
			new Vue({
				el:'#example',
				components:{
					// 'my-component1': mother,
					'my-li1':mother
				}
			})
			
			var mother={
				template:'<p>{{msg}}</p>',
				data:/* function() */{
					// return{
						msg:["java", "php", "go", "python"]
					// }
				}
			}
		</script>
	</body>
</html>
